body
    {
        background-color: black;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }

#header
    {
        height: 70px;
        background-color: antiquewhite;
        color: black;
        font-family: cursive;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 3rem;
        animation:"color change" 2s timing-function delay infinite forwards fill-mode;
    }

#registration
    {
        height: 50px;
        width: 99%;
        border-radius: 25px;
        margin: auto;
        background-color: black;
        display: flex;
        justify-content: space-evenly;
    }

    .description
    {
        padding: 10px;
        display: flex;
        justify-content: center;
    }

input
    {
        border: none;
        border-bottom: 2px white solid;
        margin-left: 20px;
    }

#options
    {
        display: none;
    }

#sign-up-form
    {
        display: none;
    }

#log-in-form
    {
        display: none;
    }

fieldset
    {
        border:none;
        border-radius: 25px;
        box-shadow: 5px 5px 5px red,
                    5px 10px 10px blue;
        background-color:transparent;
        padding: 10px;
        margin: 10px;
        justify-content: center;
    }

legend
    {
        font-size: 2rem;
        background-color:darkgray;
        border-radius: 25px;
        padding: 10px;
    }

#task-container
    {
        /* background-color: grey; */
        width: 35%;
        height: 500px;
        padding: 10px;
        margin: 10px;
        box-shadow: 5px 5px 5px red,
                    5px 10px 10px blue;
    }

#display-card
    {
        /* background-color: grey; */
        width: 75%;
        height: 500px;
        padding: 10px;
        margin: 10px;
        box-shadow: 5px 5px 5px red,
                    5px 10px 10px blue;
    }

    #dashboard
    {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        display: none;
    }

    h3
    {
        border-bottom: 2px white solid;
    }

    li
    {
        line-height: 30px;
        margin: 10px;
        list-style: none;
    }

    li:hover
    {
        cursor: pointer;
    }

#error-message, #login-error-message, #account-details-error
    {
        border: red;
        color: red;
    }

.valid
    {
        border:greenyellow;
        color: black;
    }

#options-menu
    {
        display: none;
        justify-content: flex-end;
    }

#options
    {
        cursor: pointer;
    }

.box
    {
        padding: 0px;
        border:  dashed 1px gold;
        border-radius: 20px;
        margin-right: 10px;
    }

#account-details-form
    {
        display: none;
    }

#active-task :hover 
    {
        cursor: pointer;
    }

.done
    {
        text-decoration: line-through;
    }

button  
    {
        background-color: grey;
        border: none;
        border-radius: 25px;
        color:white;
        padding: 10px;
        margin: 10px;
        display: flex;
        align-items: center;
        font-weight: bolder;
        text-shadow: white 1px 1px 5px;
        box-shadow: 5px 5px black;
    }
